__pycache__/
*.py[cod]
*.egg-info/
*.log
build/*

venv2/
venv3/

results/*
helpers/blueshark/logs/*

modules/bleedingtooth/*
!modules/bleedingtooth/*.*
modules/blueborne/*
!modules/blueborne/*.*
helpers/pybluez/*