[submodule "modules/sweyntooth"]
	path = modules/sweyntooth
	url = https://github.com/Matheus-Garbelini/sweyntooth_bluetooth_low_energy_attacks.git

[submodule "helpers/pybluez"]
	path = helpers/pybluez
	url = https://github.com/pybluez/pybluez.git
