[submodule "helpers/pybluez"]
	path = helpers/pybluez
	url = git@github.com:pybluez/pybluez.git
[submodule "modules/sweyntooth"]
	path = modules/sweyntooth
	url = git@github.com:b0rdst31n/sweyntooth_bluetooth_low_energy_attacks.git
[submodule "helpers/bluing"]
	path = helpers/bluing
	url = git@github.com:b0rdst31n/bluing.git
